<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-view title="{{Notes.item.title}}">
	<ion-nav-buttons side="right">
		<a class="button button-positive" href="#/tabs/notes/{{Note.item.id}}/edit">
			<i class="icon ion-edit"></i>
		</a>
		<button class="button button-assertive" ng-click="Notes.remove(Notes.item)">
			<i class="icon ion-trash-a"></i>
		</button>
	</ion-nav-buttons>

	<ion-content has-header="true" padding="true">
		{{Notes.item.note}}

		<div class="row images" ng-repeat="image in Notes.item.pictures">
			<div class="col">
				<img ng-src="data:image/jpeg;base64,{{image.data_uri}}">
			</div>
		</div>
	</ion-content>
</ion-view>
