<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

	<!-- Notes Tab -->
	<ion-tab title="Notes" icon="icon ion-home" href="#/tab/notes">
		<ion-nav-view name="tab-notes"></ion-nav-view>
	</ion-tab>
	<!-- search tab -->
	<ion-tab title="Search Notes" icon="icon ion-search" href="#/tab/notes/search">
		<ion-nav-view name="tab-search"></ion-nav-view>
	</ion-tab>

</ion-tabs>
